<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="core/zm/tests/bootstrap.php"
         cacheResultFile=".phpunit.result.cache"
         colors="true"
         convertDeprecationsToExceptions="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true">

    <testsuites>
        <testsuite name="ZM">
            <directory>core/zm/tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">core/zm/src</directory>
        </include>
    </coverage>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="256M"/>
    </php>

</phpunit>
